body {
  border: 1px solid rgb(0, 0, 0);
  scroll-behavior: smooth;
}

/* шрифты */
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 1.8vw;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-align: center;
  margin: 0;
}
h1 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 4.5vw;
  font-weight: 400;
  line-height: 5vw;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
h2 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 4vw;
  font-weight: 400;
  line-height: 4.5vw;
  letter-spacing: 0.5px;
  text-align: center;
  /* width: 35vw; */
  margin: 0;
}
h3 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 2.2vw;
  font-weight: 400;
  line-height: 2.6vw;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
h4 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 1.8vw;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-align: center;
  margin: 0;
}
h5 {
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.6vw;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0px;
}
/* компоненты */
.red-button {
  width: 10.9vw;
  height: 3.6vw;
  background: rgb(251, 75, 77);
  color: white;
  border: 0;

  font-family: Roboto;
  font-size: 0.9vw;
  font-weight: 400;
  line-height: 1.5vw;
  letter-spacing: 0.5px;
}

.img-cover-padding {
  height: 100%;
  width: 100%;
  padding: 1.3vw;
  box-sizing: border-box;
  object-fit: cover;
}
.img-cover {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* ------------------ */

.open-menu {
  display: none;
}
header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  border: 1px solid rgb(0, 0, 0);
}
header nav {
  padding: 23px;
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  grid-column-gap: 4vw;
  align-items: center;
}
.nav-symbol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.nav-rectangle {
  width: 1.2vw;
  height: 1.2vw;
}
.nav-fire {
  width: 4.2vw;
  height: 4.8vw;
}
/* -------------- */

.hero-section {
  display: grid;
  /* width: 100%; */
  grid-auto-flow: rows;
  grid-template-columns: repeat(2, 1fr);

  border-top: 1px solid rgb(0, 0, 0);
}
.left-hero-section {
  display: grid;
  border-right: 1px solid rgb(0, 0, 0);
}
.right-hero-section {
  display: grid;
}
.padding-text-h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6vw 5.5vw;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.scroller {
  /* display: flex; */
  overflow: hidden;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}
.ticker {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  width: fit-content;
  gap: 2vw;
  height: 5.4vw;
  animation: scroll 20s linear infinite;
}
.ticker img {
  width: 4vw;
  height: 2vw;
}
@keyframes scroll {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(calc(-50% - 1vw));
  }
}

/* ------------- */
.scorpions {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  box-sizing: border-box;
  padding: 23px;
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
}

/* ------------- */
.goods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 50vw;
  box-sizing: border-box;
  gap: 2.2vw;
  padding-inline: 0.7vw 0.8vw;
}
#goods-bg-fire {
  position: absolute;
  /* top: 50%; */
  display: flex;
  left: 31%;
  gap: 30vw;
  padding-top: 1.4vw;
}
#goods-bg-fire img {
  width: 4vw;
  height: 6vw;
}
.bg-goods-1 {
  background-image: url(src/svg/goods1.svg);
}
.bg-goods-2 {
  background-image: url(src/svg/goods2.svg);
}
.bg-goods-3 {
  background-image: url(src/svg/goods3.svg);
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 8vw 1.5vw;
  gap: 1vw;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.product {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  width: 27vw;
  height: 28.5vw;
  object-fit: contain;
}
.product:hover {
  /* filter: blur(1px); */
  border: 3px solid #8b83f6;
  /* width: 28vw; */
  /* height: 29.5vw; */
  box-shadow: 8px 8px 2px 1px black;
}

/* ------------- */
.info {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  border-top: 1px solid rgb(0, 0, 0);
  margin: 0;
  grid-template-columns: repeat(2, 1fr);
}
.left-info-section {
  display: grid;
  /* width: 50vw; */
  border-right: 1px solid rgb(0, 0, 0);
}
.right-info-section {
  display: grid;
  background-image: url(src/svg/info-background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.text-right-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9.3vw 10.7vw;
  gap: 1.7vw;
}
.photo-left-info-section {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-fit: contain;
}

/* ------------ */
.footer-background {
  background-image: url(src/img/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-info {
  background-color: #cdfd3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4vw 6.4vw;
  border-top: 1px solid rgb(0, 0, 0);
  /* height: 4.5vw; */
}

/* ----- MEDIA */
@media (max-width: 700px) {
  .footer-info a {
    font-size: 2.4vw;
    line-height: 2.8vw;
  }
  h3 {
    font-size: 7.2vw;
    line-height: 4.6vw;
  }
  h5 {
    font-size: 2vw;

    line-height: 2.6vw;
    letter-spacing: 0.5px;
  }
  .scroller h4 {
    font-size: 3.1vw;
    line-height: 3.8vw;
  }
  .product-card h4 {
    font-size: 6.1vw;
    line-height: 3.8vw;
  }
  /* ----  */
  .hero-section {
    grid-template-columns: 1fr;
  }
  /* -----  */
  .goods {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 140vw);
    height: auto;
    padding-block: 1.2vw;
  }
  #goods-bg-fire {
    display: none;
  }
  .bg-goods-1 {
    background-image: url(src/svg/goods2.svg);
  }
  .bg-goods-3 {
    background-image: url(src/svg/goods2.svg);
  }
  .product-card {
    gap: 6vw;
    padding-block: 20vw 1.5vw;
  }
  .product {
    border-radius: 20px;
    width: 74vw;
    height: 78.5vw;
  }
  /* ------  */
  .info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.3fr;
  }
  .text-right-info-section {
    padding: 13.3vw 18.7vw;
    gap: 2.7vw;
  }
}

@media (max-width: 700px) {
  header {
    width: fit-content;
    position: fixed;
    left: -46%;
    z-index: 1;
    border: 0px;

    transition: left .2s;
  } 
  header.open {
    left: 0;
  }
  header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4vw;
    padding: 2vw;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
  }
  header .burger-menu {
    padding-top: 20vw;
  }
  header .nav-symbol {
    position: absolute;
    top: 3vw;
    left: 13vw;
    border: 0px;
  }
  nav a {
    font-size: 5.6vw;
    line-height: 5.8vw;
  }
  .open-menu {
    position: absolute;
    top: 50%;
    right: 0.1vw;
    transform: translate(100%, -50%);
    width: 20vw;
    height: 20vw;
    background: #fcfff1;
    /* border: 3px solid rgb(0, 0, 0); */
    border-left: 0;
    background-image: url(src/svg/bm.svg);
    background-position-y: -20vw;
    background-position-x: 47vw;
    background-size: 500%;
    border-top-right-radius: 10vw;
    border-bottom-right-radius: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burger-menu {
    background: #fcfff1;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    background-image: url(src/svg/bg-burger-menu.svg);
    background-position-y: -23vw;
    background-position-x: 90vw;
    background-size: 300%;
  }
  .open-menu h2 {
    padding-left: 1vw;
    font-weight: 500;
    letter-spacing: 1.5vw;
  }
  .nav-rectangle {
    width: 3.2vw;
    height: 3.2vw;
  }
  .nav-fire {
    width: 12.2vw;
    height: 12.8vw;
  }
}
